In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db

env: DATABASE_URL=postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db

In [3]:
%%sql

TRUNCATE TABLE orders

(psycopg2.errors.FeatureNotSupported) cannot truncate a table referenced in a foreign key constraint
DETAIL:  Table "order_items" references "orders".
HINT:  Truncate table "order_items" at the same time, or use TRUNCATE ... CASCADE.

[SQL: TRUNCATE TABLE orders]
(Background on this error at: https://sqlalche.me/e/20/tw8g)

In [4]:
import pandas as pd

In [5]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [6]:
import json

In [7]:
schemas = json.load(open('/Users/warit/Projects/python-revision-for-de/data/retail_db/schemas.json'))

In [8]:
columns = get_column_names(schemas, 'orders')

In [9]:
df = pd.read_csv(
    '/Users/warit/Projects/python-revision-for-de/data/retail_db/orders/part-00000',
    names=columns
)

In [10]:
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [11]:
conn_uri = 'postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db'

In [12]:
df.to_sql(
    'orders',
    conn_uri,
    if_exists='replace',
    index=False
)

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table orders because other objects depend on it
DETAIL:  view order_details_v depends on table orders
constraint order_items_order_item_order_id_fkey on table order_items depends on table orders
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE orders]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [13]:
pd.read_sql('orders', conn_uri)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]