In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%env DATABASE_URL=postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db

env: DATABASE_URL=postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db

In [8]:
%%sql

TRUNCATE TABLE orders

 * postgresql://bas_retail_user:***@localhost:5432/bas_retail_db
(psycopg2.errors.FeatureNotSupported) cannot truncate a table referenced in a foreign key constraint
DETAIL:  Table "order_items" references "orders".
HINT:  Truncate table "order_items" at the same time, or use TRUNCATE ... CASCADE.

[SQL: TRUNCATE TABLE orders]
(Background on this error at: https://sqlalche.me/e/20/tw8g)

In [9]:
import pandas as pd

In [11]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [12]:
import json

In [14]:
schemas = json.load(open('/Users/warit/Projects/python-revision-for-de/data/retail_db/schemas.json'))

In [15]:
ds_name = 'orders'

In [16]:
columns = get_column_names(schemas, 'orders')

In [37]:
df = pd.read_csv(f'/Users/warit/Projects/python-revision-for-de/data/retail_db/{ds_name}/part-00000', names=columns)

In [40]:
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [20]:
df_reader = pd.read_csv(
    f'/Users/warit/Projects/python-revision-for-de/data/retail_db/{ds_name}/part-00000', 
    names=columns,
    chunksize=10000
)

In [21]:
type(df_reader)

pandas.io.parsers.readers.TextFileReader

In [22]:
df_list = list(df_reader)

In [23]:
df_list[-1]

       order_id             order_date  order_customer_id     order_status
60000     60001  2013-10-20 00:00:00.0               1376         COMPLETE
60001     60002  2013-10-20 00:00:00.0               6345  PENDING_PAYMENT
60002     60003  2013-10-20 00:00:00.0                329       PROCESSING
60003     60004  2013-10-20 00:00:00.0              10907          PENDING
60004     60005  2013-10-20 00:00:00.0               5156         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[8883 rows x 4 columns]

In [26]:
df_reader = pd.read_csv(
    '/Users/warit/Projects/python-revision-for-de/data/retail_db/orders/part-00000', 
    names=columns,
    chunksize=10000
)

In [27]:
for idx, df in enumerate(df_reader):
    print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [28]:
conn_uri = 'postgresql://bas_retail_user:412563@localhost:5432/bas_retail_db'

In [29]:
df_reader = pd.read_csv(
    '/Users/warit/Projects/python-revision-for-de/data/retail_db/orders/part-00000', 
    names=columns,
    chunksize=10000
)

In [41]:
for idx, df in enumerate(df_reader):
    print(f'Processing chunk {idx} with size {df.shape[0]} of {ds_name}')
    df.to_sql(
        'orders',
        conn_uri,
        if_exists='append',
        index=False
    )

Processing chunk 0 with size 10000 of orders

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "orders_pkey"
DETAIL:  Key (order_id)=(30001) already exists.

[SQL: INSERT INTO orders (order_id, order_date, order_customer_id, order_status) VALUES (%(order_id__0)s, %(order_date__0)s, %(order_customer_id__0)s, %(order_status__0)s), (%(order_id__1)s, %(order_date__1)s, %(order_customer_id__1)s, %(order_status__1)s) ... 92290 characters truncated ... _998)s), (%(order_id__999)s, %(order_date__999)s, %(order_customer_id__999)s, %(order_status__999)s)]
[parameters: {'order_status__0': 'PENDING_PAYMENT', 'order_id__0': 30001, 'order_customer_id__0': 5995, 'order_date__0': '2014-01-27 00:00:00.0', 'order_status__1': 'ON_HOLD', 'order_id__1': 30002, 'order_customer_id__1': 12034, 'order_date__1': '2014-01-27 00:00:00.0', 'order_status__2': 'CLOSED', 'order_id__2': 30003, 'order_customer_id__2': 2110, 'order_date__2': '2014-01-27 00:00:00.0', 'order_status__3': 'PROCESSING', 'order_id__3': 30004, 'order_customer_id__3': 9237, 'order_date__3': '2014-01-27 00:00:00.0', 'order_status__4': 'PENDING_PAYMENT', 'order_id__4': 30005, 'order_customer_id__4': 2313, 'order_date__4': '2014-01-27 00:00:00.0', 'order_status__5': 'COMPLETE', 'order_id__5': 30006, 'order_customer_id__5': 3911, 'order_date__5': '2014-01-27 00:00:00.0', 'order_status__6': 'COMPLETE', 'order_id__6': 30007, 'order_customer_id__6': 7211, 'order_date__6': '2014-01-27 00:00:00.0', 'order_status__7': 'PENDING', 'order_id__7': 30008, 'order_customer_id__7': 5388, 'order_date__7': '2014-01-27 00:00:00.0', 'order_status__8': 'COMPLETE', 'order_id__8': 30009, 'order_customer_id__8': 6504, 'order_date__8': '2014-01-27 00:00:00.0', 'order_status__9': 'PROCESSING', 'order_id__9': 30010, 'order_customer_id__9': 12233, 'order_date__9': '2014-01-27 00:00:00.0', 'order_status__10': 'PENDING_PAYMENT', 'order_id__10': 30011, 'order_customer_id__10': 2102, 'order_date__10': '2014-01-27 00:00:00.0', 'order_status__11': 'COMPLETE', 'order_id__11': 30012, 'order_customer_id__11': 9652, 'order_date__11': '2014-01-27 00:00:00.0', 'order_status__12': 'PENDING_PAYMENT', 'order_id__12': 30013 ... 3900 parameters truncated ... 'order_customer_id__987': 8189, 'order_date__987': '2014-02-01 00:00:00.0', 'order_status__988': 'COMPLETE', 'order_id__988': 30989, 'order_customer_id__988': 730, 'order_date__988': '2014-02-01 00:00:00.0', 'order_status__989': 'ON_HOLD', 'order_id__989': 30990, 'order_customer_id__989': 151, 'order_date__989': '2014-02-01 00:00:00.0', 'order_status__990': 'PROCESSING', 'order_id__990': 30991, 'order_customer_id__990': 6990, 'order_date__990': '2014-02-01 00:00:00.0', 'order_status__991': 'CLOSED', 'order_id__991': 30992, 'order_customer_id__991': 9571, 'order_date__991': '2014-02-01 00:00:00.0', 'order_status__992': 'COMPLETE', 'order_id__992': 30993, 'order_customer_id__992': 1605, 'order_date__992': '2014-02-01 00:00:00.0', 'order_status__993': 'PENDING', 'order_id__993': 30994, 'order_customer_id__993': 602, 'order_date__993': '2014-02-01 00:00:00.0', 'order_status__994': 'COMPLETE', 'order_id__994': 30995, 'order_customer_id__994': 8398, 'order_date__994': '2014-02-01 00:00:00.0', 'order_status__995': 'PENDING_PAYMENT', 'order_id__995': 30996, 'order_customer_id__995': 3632, 'order_date__995': '2014-02-01 00:00:00.0', 'order_status__996': 'COMPLETE', 'order_id__996': 30997, 'order_customer_id__996': 3029, 'order_date__996': '2014-02-01 00:00:00.0', 'order_status__997': 'PENDING_PAYMENT', 'order_id__997': 30998, 'order_customer_id__997': 8820, 'order_date__997': '2014-02-01 00:00:00.0', 'order_status__998': 'COMPLETE', 'order_id__998': 30999, 'order_customer_id__998': 5918, 'order_date__998': '2014-02-01 00:00:00.0', 'order_status__999': 'PROCESSING', 'order_id__999': 31000, 'order_customer_id__999': 11730, 'order_date__999': '2014-02-01 00:00:00.0'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [42]:
pd.read_sql(ds_name, conn_uri)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]